:root {
  --primary-color: #d50032;
  --secondary-color: #f9b233;
  --dark-color: #1c1c1c;
  --light-color: #ffffff;
  --gray-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
  line-height: 1.6;
}

header {
  background-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
  margin-right: 10px;
}

.imagen-contenedor {
  position: relative;
  display: inline-block;
  margin-top: 30px;
}

.imagen-contenedor img {
  width:100% ;
  border-radius: 8px;
}

.logo-imagen {
  position: absolute;
  top: 50%;
  left: 50%;
  color:white;
  text-align:right;
  margin-right:10%
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: bold;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  background: red;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex: 1 1 50%;
  padding: 1rem;
}
.hero-text p{
  color:white;
}

.hero-right {
  flex: 1 1 40%;
  text-align: center;
}

.hero-right img {
  max-width: 100%;
  height: auto;
  color: white;
}

.info {
  background-color: var(--gray-color);
  padding: 2rem;
  font-size: 1.1rem;
}

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-info, .footer-social {
  flex: 1 1 300px;
}

.footer-social a img {
  width: 24px;
  margin: 0 0.5rem;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
    text-align: right;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
